<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="toy">
  <link name="base_link">
    <inertial>
      <origin xyz="0.026537 0.0018105 -0.01684" rpy="0 0 0" />
      <mass value="0.353" />
      <inertia ixx="0.00037032" ixy="1.5579E-21" ixz="-5.6791E-20" iyy="0.00064805" iyz="2.3026E-06" izz="0.00037458" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://T170A/meshes/scenario/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.9 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://T170A/meshes/scenario/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial>
      <origin xyz="6.6363E-08 -0.019037 1.236E-05" rpy="0 0 0" />
      <mass value="0.33603" />
      <inertia ixx="0.00036877" ixy="3.1375E-10" ixz="5.6275E-12" iyy="0.0006443" iyz="8.5343E-08" izz="0.00036863" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://T170A/meshes/scenario/link_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://T170A/meshes/scenario/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint0" type="fixed">
    <origin xyz="-0.073463 0.01569 -0.017517" rpy="-1.5708 0 -1.5708" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="link_2">
    <inertial>
      <origin xyz="6.9989E-08 0.018711 -1.3036E-05" rpy="0 0 0" />
      <mass value="0.31863" />
      <inertia ixx="0.0003593" ixy="-3.2102E-10" ixz="-5.6426E-12" iyy="0.00062927" iyz="8.6696E-08" izz="0.00035916" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://T170A/meshes/scenario/link_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.5 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://T170A/meshes/scenario/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint1" type="fixed">
    <origin xyz="0.12654 0.01569 -0.017517" rpy="1.5708 0 1.5708" />
    <parent link="base_link" />
    <child link="link_2" />
    <axis xyz="0 0 0" />
  </joint>
</robot>
